# Small graphs

Here, we'll make a few small graphs and display them with `cosmograph`

In [34]:
min_version = '0.0.20'

try:
    from packaging import version
    cosmograph_version = getattr(__import__('cosmograph'), '__version__', None)
    if cosmograph_version and version.parse(cosmograph_version) < version.parse(min_version):
        print(f'Your cosmograph version was less than {min_version}. Upgrading to latest version...')
        %pip install -U --quiet cosmograph
except (ImportError, ModuleNotFoundError):
    print('Cosmograph not installed. Will install latest version...')
    %pip install --quiet cosmograph

In [3]:
import pandas as pd
from cosmograph import cosmo

In [ ]:
single_link = {
    'points': [{'id': '0'}, {'id': '1'}],
    'links': [{'source': '0', 'target': '1'}],
}

points, links = map(pd.DataFrame, single_link.values())

g = cosmo(
    points=points, 
    links=links,
    point_id_by='id',
    link_source_by='source',
    link_target_by='target',
    simulation_gravity=0,
    simulation_center=1,
)
g

Cosmograph(background_color=None, focused_point_ring_color=None, hovered_point_ring_color=None, link_color=Nonâ€¦

If your graph is small, it will tend to drift away (this is why we put an explicit `simulation_gravity` and `simulation_center`, to reduce that effect). But know this, you can always fit the view (`fit_view()`), to recenter things (and actually see your graph!).

In [21]:
g.fit_view()

We'll use the `linked` package to make some graphs in a quick and agreeable way.
If you don't have `linked` you can `pip install linked`.

In [ ]:
from functools import partial
from linked import mini_dot_to_graph_jdict

# customize the mini_dot_to_graph_jdict to use the field names we'll be using here
# (You're basically saying "this is what I want you to call nodes, links, etc.")
my_mini_dot = partial(
    mini_dot_to_graph_jdict,
    field_names=dict(
        nodes='points', links='links', source='source', target='target', id='id'
    ),
)

def points_and_links_from_mini_dot(mini_dot_str: str):
    """
    Make points and links data from a mini_dot string and return them as DataFrames.
    """
    g = my_mini_dot(mini_dot_str)
    points, links = map(pd.DataFrame, [g['points'], g['links']])
    return points, links

If you don't want to

In [23]:
from cosmograph.base import process_cosmo_input

process_cosmo_input(None, {})

{}

In [15]:

from cosmograph import cosmo
cosmo(
    points=points,
    links=links,
    point_id_by='id',
    link_source_by='source',
    link_target_by='target',
)

  id
0  1
1  2
2  5
3  6
4  7
5  3

In [16]:
links

  source target
0      1      2
1      2      5
2      2      6
3      2      7
4      3      5
5      3      6
6      3      7

In [7]:
links

,source,sourceidx,date,time,color,target,targetidx,value
0,0,0,2012-02-08 11:17:27.900000+00:00,1970-01-01T01:06:54.149Z,#4e79a7,1,1,1
1,0,0,2012-02-08 11:17:27.900000+00:00,1970-01-01T01:06:54.149Z,#4e79a7,92,92,9
2,1,1,2012-10-10 20:58:18.664000+00:00,1970-01-01T01:33:27.754Z,#af7aa1,2,2,3
3,1,1,2012-10-10 20:58:18.664000+00:00,1970-01-01T01:33:27.754Z,#af7aa1,93,93,4
4,2,2,2013-01-20 10:49:31.343000+00:00,1970-01-01T02:25:52.892Z,#ff9da7,3,3,6
...,...,...,...,...,...,...,...,...
16373,8274,8274,2016-04-18 22:18:42.012000+00:00,1970-01-01T00:25:07.895Z,#e15759,8275,8275,7
16374,8275,8275,2016-01-24 21:27:19.899000+00:00,1970-01-01T01:23:04.457Z,#e15759,8276,8276,8
16375,8276,8276,2013-09-30 11:11:20.394000+00:00,1970-01-01T02:40:55.245Z,#9c755f,8277,8277,1
16376,8277,8277,2016-07-25 12:42:05.251000+00:00,1970-01-01T00:34:30.523Z,#af7aa1,8278,8278,7
16377,8278,8278,2021-11-15 19:45:31.936000+00:00,1970-01-01T00:40:37.802Z,#4e79a7,8279,8279,5

In [1]:
import pandas as pd

points = pd.read_json('https://gist.githubusercontent.com/Stukova/d2a3bb22c90680b6beaf8a52c3470296/raw/a80fb63f4f4f0135f827c23aff43183de61a153d/points.json', dtype={'id': str})
print(f"{points.shape=}")
links = pd.read_json('https://gist.githubusercontent.com/Stukova/d2a3bb22c90680b6beaf8a52c3470296/raw/a80fb63f4f4f0135f827c23aff43183de61a153d/links.json', dtype={'sourceidx': str, 'targetidx': str})
print(f"{links.shape=}")

from cosmograph_widget import Cosmograph

Cosmograph(
    points=points,
    links=links,
    point_id_by='id',
    link_source_by='source',
    link_target_by='target',
    point_include_columns=['value'],
    point_label_by='label',
    link_include_columns=['value'],
)

points.shape=(8280, 8)
links.shape=(16378, 8)

Cosmograph(background_color=None, focused_point_ring_color=None, hovered_point_ring_color=None, link_color=Nonâ€¦

In [2]:
from cosmograph_widget import Cosmograph

Cosmograph(
    points=points,
    links=links,
    point_id_by='id',
    link_source_by='source',
    link_target_by='target',
    point_include_columns=['value'],
    point_label_by='label',
    link_include_columns=['value'],
)

ModuleNotFoundError: No module named 'cosmograph_widget'

In [9]:
def _get_pkg_dir_and_name(pkg_dir):
    import os
    pkg_dir = os.path.realpath(pkg_dir)
    if pkg_dir.endswith(os.sep):
        pkg_dir = pkg_dir[:-1]
    pkg_dirname = os.path.basename(pkg_dir)
    return pkg_dir, pkg_dirname

import cosmograph
cosmograph.__file__

_get_pkg_dir_and_name('/Users/thorwhalen/Dropbox/py/proj/c/')
from wads.pack import folders_that_have_init_py_files

folders_that_have_init_py_files('/Users/thorwhalen/Dropbox/py/proj/c/cosmograph')

[]

In [1]:
from cosmograph_widget import Cosmograph

Cosmograph(
    points=points,
    links=links,
    point_id_by='id',
    link_source_by='source',
    link_target_by='target',
    point_include_columns=['value'],
    point_label_by='label',
    link_include_columns=['value'],
)

NameError: name 'points' is not defined

In [1]:
from linked import mini_dot_to_graph_jdict

In [4]:
mini_dot_to_graph_jdict("""
    1 -> 2
    2, 3 -> 5, 6, 7
""")

{'nodes': [{'id': '1'},
  {'id': '2'},
  {'id': '5'},
  {'id': '6'},
  {'id': '7'},
  {'id': '3'}],
 'links': [{'source': '1', 'target': '2'},
  {'source': '2', 'target': '5'},
  {'source': '2', 'target': '6'},
  {'source': '2', 'target': '7'},
  {'source': '3', 'target': '5'},
  {'source': '3', 'target': '6'},
  {'source': '3', 'target': '7'}]}

In [16]:

small_bipartite_graph = mini_dot_to_graph_jdict("""
    1, 2, 3, 4 -> 5, 6, 7
""")

pentagon = mini_dot_to_graph_jdict("""
    1 -> 2
    2 -> 3
    3 -> 4
    4 -> 5
    5 -> 1
""")

six_path = mini_dot_to_graph_jdict("""
    1 -> 2
    2 -> 3
    3 -> 4
    4 -> 5
    5 -> 6
""")


t = small_bipartite_graph
points, links = map(pd.DataFrame, [t['nodes'], t['links']])

g = cosmo(
    points=points, 
    links=links,
    point_id_by='id',
    link_source_by='source',
    link_target_by='target',
    simulation_gravity=0,
)
g

Cosmograph(background_color=None, focused_point_ring_color=None, hovered_point_ring_color=None, link_color=Nonâ€¦

In [ ]:

def path(self, n):
    return mini_dot_to_graph_jdict(
        "\n".join(f"{i} -> {i+1}" for i in range(1, n))
    )

def cycle(self, n):
    return mini_dot_to_graph_jdict(
        "\n".join(f"{i} -> {i+1}" for i in range(1, n))
        + f"\n{n} -> 1"
    )   

def bipartite(self, n, m):
    return mini_dot_to_graph_jdict(
        "\n".join(f"{i} -> {j}" for i in range(1, n+1) for j in range(n+1, n+m+1))
    )